$primary: #55535c;
$secondary: #706876;
$tertiary: #8d7e90;
$quaternary: #ad94a8;
$quinary: #cfabc0;

$dark: #252526;
$darker: #1e1e1e;
$dark-page: #3e3e42;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
